*{
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.hero__section
{
background-image: url(./images/heroSectionBackground.png);
min-height: 60vh;
background-size: cover;
background-position: center;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 48px;
    font-size: 20px;
}
.navbar__menu_section
{
    display: flex;
    gap: 22px;
    justify-content: center;
    align-items: center;
}
nav a{
    text-decoration: solid;
    color: white;
}
.navbar__menu_section .user__icon
{
border: 1px solid white;
display: flex;
justify-content: center;
align-items: center;
height: 32px;
width: 32px;
border-radius: 50%;
display: none;
}
.hero__section_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(60vh-40px);
    margin-top: 3rem;
}
.hero__section_logo
{
    width: 300px;
    align-content: center;
}
.hero__section_title
{
    padding: 20px;
    text-align: center;
    width: 100%;
    font-weight: 400;
    color: white;
}
.hero__section_input_container
{
    background-color: white;
    border-radius: 12px;
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
}
.input_container_location , .input_container_search
{
    border: none;
    outline: none;
    border-radius: 12px;
    padding: 10px;
    color: rgb(44, 43, 43);
}
.input_container_location
{
    width: 35%;
    border-right:1px solid #e0e0e0 ;
}
.input_container_search
{
    width: 65%;

}
@media only screen and (max-width :600px)
{
    .navbar__menu_section .user__icon
    {
        display: flex;
    }
    .hero__section
    {
        min-height: 80vh;
    }
    .links
    {
        display: none;
    }
    .hero__section_container
    {
      margin-top: 6rem;
    }
    .hero__section_title
    {
      width: 80%;
    }
    .hero__section_input_container
    {
      width: 80%;
    }
    .navbar
    {
      padding: 16px;
    }
}
 .my_offers
 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.8rem;
    margin-top: 3rem; 
    
 }
 .my_offers_card
 {
border-radius: 10px;
border: 1px solid #e0e0e0;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
overflow: hidden;
transition:all 0.3s ease;
cursor: pointer;
 }
 .my_offers_card:hover
 {
transform: scale(1.05);
 }
 .my_offers_card img
 {
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: center;
 }
 .my_offers_card_text h2
 {
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
 }
 .my_offers_card_text p{
    font-size: 15px;
    padding: 10px;
 }
 .container__collections
 {
    margin-top: 2.5rem;
 }
 .container__collections h1
 {
padding: 0px 28px;
 }
 .container__collections_subhead
 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 28px;
 }
 .container__collections_subhead :nth-child(2)
 {
    color: rgb(212, 57, 75);
    cursor: pointer;
 }
 .container__collections_cards
 {
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 14px;
    cursor: pointer;
 }
 .collections_card1,  .collections_card2,  .collections_card3 , .collections_card4
 {
    min-width: 240px;
    border-radius: 12px;
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
 }
 .collections_card1
 {
    background-image: url(images/collection1.jpg);
    
 }
 .collections_card2
 {
    background-image: url(images/collection2.jpg);
    
 }
 .collections_card3
 {
    background-image: url(images/collection3.jpg);
    
 }
 .collections_card4
 {
    background-image: url(images/collection4.jpg);
    
 }
 .content
 {
    padding: 12px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
 }
 .content h4
 {
    font-weight: 400;
 }
 .overlay
 {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: rgb(38,38,41);
    background: linear-gradient(0deg, rgba(38,38,41,0.5) 48%, rgba(56,53,53,0.02) 63%);
 }
 .container__get_app
 {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   padding: 4rem 0;
   flex-wrap: wrap;
 }
 .subcontainer_get_app
 {
   display: flex;
   width: 60%;
 }
 .left
 {
   display: flex;
   flex: 2;
 }
 .right
 {
   display: flex;
   flex-direction: column;
   flex: 3;
   font-size: medium;
   gap: 1rem;
 }
 .right p{
   font-size: 0.9rem;
 }
 .right h1
 {
   font-size: 2rem;
   font-weight: 400;
 }
 .left img
 {
   object-fit: cover;
   object-position: center;
   width: 100%;
 }
 .right div
 {
   padding: 4px;
   
 }
 .radio_input
 {
   display: flex;
   align-items: center;
   gap: 1rem;
 }
 .radio_input div 
 {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
 }
 .radio_input div input
 {
   height: 15px;
   width: 15px;
   accent-color: rgb(239,75,95);
 }
 .input_container_get_app
 {
   display: flex;
   gap: 10px;
 }
 .subcontainer_get_app .right .input_container_get_app 
 {
   display: flex;
   gap: 0.5rem;
   flex-wrap: wrap;
 }
 .input_container_get_app input, .input_container_get_app button
 {
   padding: 10px 12px;
 }
 .input_container_get_app input
 {
   border: 1.5px solid gray;
   outline: none;
   border-radius: 6px;
   flex: auto;
 }
 .input_container_get_app button
 {
   border: none;
   border-radius: 6px;
   background-color: rgb(239,75,95);
   color: white;
   cursor: pointer;
 }
 .get_app_images
 {
   display: flex;
   flex-direction: column;
   gap: 0.6rem;
 }
 .get_app_images h5
 {
   font-weight: 400;
   color: gray;
 }
 .get_app_images div
 {
   display: flex;
   gap: 1rem;
 }
 .get_app_images div img
 {
   width: 33%;
 }
 @media only screen and (max-width:1200px)
 {
.left
{
  flex:1;
}
.right
{
  flex: 1;
}
.container__get_app .subcontainer_get_app
{
  width: 80%;
}
 }
@media only screen and (max-width:900px)
{
  .container__get_app
  {
    padding: 2rem 0 ;
  }
  .container__get_app .subcontainer_get_app
  {
    width: 90%;
  }
  .container__collections_subhead
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
}
@media only screen and (max-width:700px)
{
  .container__get_app .subcontainer_get_app
  {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .container__get_app
  {
    padding: 3rem 0;
  }
}
.footer
{
  width: 100%;
}
.footer_heading
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem 2rem 0rem 2rem;
}
.footer_heading img
{
  width: 120px;
}
.footer_buttons{
  display: flex;
  gap: 1rem;
}

.footer_buttons button{
  padding: 5px;
  width: 90px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation_container
{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80%;
  margin: auto;
  gap: 1rem;
  padding: 3rem 0;
}
.links_container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.links_container h5{
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
  letter-spacing: 0.8px;
}

.footer__link{
  text-decoration: none;
  color: gray;
  font-size: 13px;
  font-weight: 300;
}

.footer__link:hover{
  color: black;
}

.social__links_container button{
  background-color: black;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.social__links_container button i {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.footer__section_logos{
  width: 100%;
}

.termsandconditions{
  width: 90%;
  margin: auto;
  padding-top: 1.5rem;
  border-top: 1px solid gray;
  color: gray;
}
@media only screen and (max-width: 900px){
  .navigation_container{
      grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 450px){
  .navigation_container{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 280px) {
  .navigation_container {
      grid-template-columns: repeat(1, 1fr);
  }
}